
.header  {
  background: white;
  border-radius: 20px;
}

.name {
  text-align: center;
  padding: 20px;
  font-size: 4em;
  color: #feb7fc;
  font-weight: bold;
}


.navbar {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #cecfcd;
  padding: 10px 0;
}

.navbar a {

  text-decoration: none;
  color: #54e4ed;
  font-size: 1em;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
  color:#000ff0;

}
.navbar a.active {
  color: #000ff0;
}
