

.header  {
  background: pink;
  border: 2px solid black; 
  border-radius: 20px;
}

.name {
  text-align: center;
  padding: 20px;
  
  font-size: 24px;
  color: #ff91d6;
  font-weight: bold;
}


.navbar {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid black;
  padding: 10px 0;
  
}

.navbar a {
  padding-left: 140px;
  border-left: 2px solid black;
  padding-right: 140px;
  border-right: 2px solid black;
  text-decoration: none;
  color: #00c8f0;
  font-size: 16px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
