
.header  {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
  text-align: center;
  padding: 20px;
  font-size: 4em;
  color: var(--secondary-color);
  font-weight: bold;
}


.navbar {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #cecfcd;
  padding: 10px 0;
  
}

.navbar a {

  text-decoration: none;
  color: var(--primary-color);
  font-size: 1em;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
  color:var(--secondary-color);

}
.navbar a.active {
  color: var(--secondary-color);
  text-decoration: underline;
}
