<html>
  <head>

  </head>
  <body>
    <div class="topnav">
      <a routerLink = "/" routerLinkActive="active" ariaCurrentWhenActive="page" class="active">home</a>
      <a routerLink = "/projects-component" routerLinkActive="active" ariaCurrentWhenActive="page">my projects</a>
      <a routerLink = "/resume-component" routerLinkActive="active" ariaCurrentWhenActive="page">resume</a>
      <a routerLink = "/contact-component" routerLinkActive="active" ariaCurrentWhenActive="page">contact</a>
    </div>
  </body>
  <router-outlet></router-outlet>

</html>

