<html>
  <head>

  </head>
  <body>
    <div class="header">
      
      <div class="navbar">
        <a routerLink = "/home-component" routerLinkActive="active" ariaCurrentWhenActive="page"  class="active">Home</a>
        <a routerLink = "/projects-component" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
        <a routerLink = "/resume-component" routerLinkActive="active" ariaCurrentWhenActive="page">Resume</a>
        <a routerLink = "/contact-component" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
      </div>
    </div>
  </body>
  <router-outlet></router-outlet>

</html>

