/* You can add global styles to this file, and also import other style files */
* {
    background-color: #ffcce1;
}
body {
    font-family: 'Noto Serif Display', serif;
    font-weight: 200;
    font-size: 48px;
}