<!doctype html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="main">
            <p class="intro">
                hi! my name is sneha dharmalingam, a first year computer science student at the University of Texas at Austin. 
                i am an aspiring software/cybersecurity engineer with experience in research and industry. learn more about me 
                through my projects and other contributions. 
            </p>
        </div>
        <div class="center">
            <div class="column1">
                <img src="/assets/me.jpg" alt="image">
            </div>
            <div class="column2">

            </div>
            <div class="column3">

            </div>
        </div>
    </body>
</html>
