.name {
    color: white;
    font-size: large;
    text-align: center;
    padding: 4% 0;
    display: grid;
    place-items: center;
}
.name h1 {
    font-weight: 300;
    font-size: 80px;
    margin: 0%;
}

.typed {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 2px solid var(--secondary-color);
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 57% }
}
@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: var(--secondary-color)}
    100% {border-right-color: transparent}
}

.intro {
    /* border-top: 2px solid var(--secondary-color); */
    color: white;
    text-align: center;
    font-size: small;
    padding: 4% 13%;
}