body { 
    margin: 18px 30px;
}
.main  {
    background: var(--secondary-color);
    border: 2px solid #cecfcd;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    margin: 0px 0px;
    padding: 20px 20px;
}

.intro {
    color: white;
    margin: 0px 0px;
    font-size: 30px;
    text-align: center;
    text-shadow:  2px 2px 5px gray;
}

.center  {
    background: white;
    border: 2px solid #cecfcd;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    margin: 30px 350px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
}
