<!doctype html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="name">
            <h1 class="typed">Sneha Dharmalingam</h1>
        </div>
        <div class="intro">
            <p> 
                Hi there! This is my personal website. I am a first year computer science student at 
                the University of Texas at Austin. Click on the Projects tab to learn more about some 
                of the work I have done, from web development to research. My resume and contacts are
                also available on this site.
            </p>
        </div>
        
    </body>
</html>
